@mixin img-fluid-blog {
    max-width: 100%;
    width: 100%;
    object-fit: cover !important;
    height: 100%;
    border-radius: 0.375rem;
}


    .link-blog {
        color: $textosN;
        transition: all .2s ease-in-out;

        &:hover {
            color: $primario;
        }
    }



.img-fluid {
    @include img-fluid-blog;
}



.card-body-full {
    flex: 1 1 auto;
    display: flex !important;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 2.5rem 1.2rem;


    .card-title {
        font-size: 30px;
    }

}


.breadcrumb-item {

    a {
        color: $primario;
    }

}


.col-lg-12,
.col-md-12,
.col-xs-12 {

    img {
        @include img-fluid-blog;
        padding-bottom: 2rem;
        border-radius: 0;
    }

    .card-title {
        font-size: 30px;
        padding: 2rem 0;
    }
}



.col {

    img {
        @include img-fluid-blog;
        height: 25rem;
        border-radius: 0;
    }

    .card-title {
        font-size: 30px;
        padding: 2rem 0;
    }
}


.col-lg-6,
.col-md-6,
.col-xs-12 {

    p {
        padding-bottom: 2.2rem;
    }
}


.card-img-top {
    width: 100%;
    height: 45%;
    object-fit: cover;
    padding-bottom: 1rem;
}